.text--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}
.text-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.text-truncate--expanded {
  display: block;
  overflow: visible;
}

.text-truncate__button {
  display: inline;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

.text-truncate__button--center {
  align-self: center;
}

.text-truncate__button--right {
  align-self: flex-end;
}

.text-truncate__button--left {
  align-self: flex-start;
}

.text-truncate__button--underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}
